/* Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
*/
/* Open Sans & Playfair */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); */
/* Open Sans & Belleza */
/* @import url('https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
/* Open Sans & Raleway */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
/* open sans & tenor */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    background-color: #e3e3e3;
    font-family: "Open Sans", system-ui, -apple-system, sans-serif;
}
input, select, option{
    font-family: "Open Sans", system-ui, -apple-system, sans-serif;
    padding: 12px 16px;
    min-width: 240px;
    min-height: 40px;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    background: #fff;
}
main{
    margin-top: 100px;
}
section, .max-width{
    max-width: 1440px;
    margin: auto;
    padding: 0 32px;
    position: relative;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0;
}
p, div, li, a{
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, nav{
    font-family: "Tenor Sans", serif;
    letter-spacing: 0.7px;
}
h1{
    font-size: 40px;
    font-weight: 400;
}
li, a{
    list-style: none;
    text-decoration: none;
}
/* Remove standard logo for kaldender */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.logo{
    width: 120px;
}
.logo-bg{
    fill: #1a2663;
}
@media screen and (max-width: 768px) {
    section, .max-width{
        padding: 0 24px;
    }
}
:root{

}

/* Navbar */
nav{
    background-color: none;
    position: fixed;
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.navbar a, .navbar svg{
    z-index: 5;
}
.navbar ul{
    display: flex;
    gap: 32px;
}
.navbar ul li a{
    color: #1a2663;
    font-weight: 400;
    font-size: 20px;
}
.burger-menu{
    display: none;
    width: 32px;
    height: 32px;
}
@media screen and (max-width: 768px) {
    .burger-menu{
        display: block;
        --logo-transition: 0.1s;
        transition: scale var(--logo-transition);
    }
    .navbar ul{
        position: absolute;
        flex-direction: column;
        padding: 100px 24px 0 24px;
        top: 0;
        right: -100%;
        width: 100vw;
        height: 100vh;
        background-color: #b2b8d4;
        transition: right 0.5s ease-in-out;
        margin-left: -24px;
        z-index: 0;
    }
}


/* Galleri */
.categories{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}
.categories li{
    cursor: pointer;
}

.galleri-images{
    --columns: 4;
    --colum-gap-size: 20px;

    display: flex;
    gap: var(--colum-gap-size);
}
.galleri-images div{
    width: calc(100% / var(--columns) - (var(--colum-gap-size) / var(--columns) * (var(--columns) - 1)));
    height: fit-content;
}
.galleri-images img{
    margin-bottom: var(--colum-gap-size);
    width: 100%;
    object-fit: cover;
}
.galleri-images img:last-child{
    margin-bottom: 0;
}
.galleri-images img:hover{
    cursor: pointer;
}


/* Booking */
.booking-form{
    display: flex;
    justify-content: center;
    gap: 160px;
    flex-wrap: wrap;
}
/* Booking - form1 */
.first-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.date-picker{
    display: flex;
    flex-direction: column;
}
#date_picker{
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Chevron down'%3E%3Cpath id='Icon' d='M4.67188 6.70654L8.67188 10.7065L12.6719 6.70654' stroke='%231E1E1E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 12px;
    background-size: 20px;
}
.selected-services{
    display: flex;
    flex-direction: column;
}
.selected-services select{
    background-image: url("data:image/svg+xml;base64,IDxzdmcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB2aWV3Qm94PScwIDAgMjQgMjQnPjxwYXRoIGQ9J00xMiA1VjE5TTUgMTJIMTknIHN0cm9rZT0nYmxhY2snIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJy8+PC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
    padding-right: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selected-services-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.selected-services-list div{
    padding: 12px 16px;
    min-width: 240px;
    min-height: 40px;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.selected-services-list div:first-child{
    margin-top: 18px;
}
.selected-services-list div:last-child{
    margin-bottom: 18px;
}
/* Booking - kaldender */
.kaldender{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.week-selector{
    display: flex;
    justify-content: center;
}
.arrow{
    width: 20px;
    height: 20px;
    fill: #18181B;
    cursor: pointer;
}

.day-selector{
    display: flex;
}

.day-selector .column div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #333;
    padding: 8px;
}
.day-selector .column div:first-child{
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: flex-start;
}
.day-selector .column .showen-time{
    height: calc(100% - 50px);
}